.D3partitionR {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: top;
    overflow: hidden;
}



.CircleTreeMapR .node {
  cursor: pointer;
}
.CircleTreeMapR-tooltip-positioner {
    position: fixed !important;
    left: 130px !important;
}

.CircleTreeMapR  .node:hover {
  stroke: #000;
  stroke-width: 1.5px;
}

.CircleTreeMapR .node--leaf {
  fill: white;
}

.CircleTreeMapR  .node--leaf:hover {
  stroke: #000;
  stroke-width: 1.5px;
}




.CircleTreeMapR .label {
  font: 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-anchor: middle;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
}

.CircleTreeMapR  .label,
.node--root,
.node--leaf {
  pointer-events: none;
}

.CircleTreeMapR {
  text-align: center;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;

}

.my_tooltip {
  position: absolute;
  text-align: center;
  padding: 2px;
  font: 12px sans-serif;
  color: black;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}


.treeMap {
  background: #ddd;
}

.treeMap text {
  pointer-events: none;
}

.treeMap .grandparent text {
  font-weight: bold;
}

.treeMap rect {
  fill: none;
  stroke: #fff;
}

.treeMap rect.parent,
.grandparent rect {
  stroke-width: 4px;
}


.treeMap rect.parent,
.grandparent rect:hover{
  stroke-width: 4px;
  fill: #ee9700;
}

.treeMap .grandparent rect {
  fill: orange;
}

.treeMap .grandparent:hover rect {
  fill: #ee9700;
}

.treeMap .children rect.parent,
.grandparent rect {
  cursor: pointer;
}

.treeMap .children rect.parent {
  fill: #bbb;
  fill-opacity: .5;
}

.treeMap .children:hover rect.child {
  fill: #bbb;
}


.partitionChart{
  display: block;
  font-size: 11px;
}

.partitionChart rect {
  stroke: #eee;
  fill-opacity: .8;
}

.partitionChart rect:hover {
  stroke: #000;
  fill-opacity: 1;
}

.sunburst path:hover{
  opacity:1;
}

.partitionChart rect.parent {
  cursor: pointer;
  fill: steelblue;
}

.partitionChart text {
  pointer-events: none;
}

.sunburst path {
  stroke: #fff;
  opacity:0.6;
}

.partitionLegend{
  position:absolute;
}

.partitionTitle{
  position:absolute;
  top: 0;
}



.collapsibleTree .node {
  cursor: pointer;
}

.collapsibleTree .node circle {
  stroke: steelblue;
  stroke-width: 1.5px;
  opacity: 0.7;
}

.collapsibleTree .node circle:hover {
  stroke: black;
  stroke-width: 2.5px;
  opacity: 1;
}

.collapsibleTree .node text {
  font: 10px sans-serif;
}

.collapsibleTree .link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}